<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.filter.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>EditAdvertisementServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <servlet-name>MyAdvertisementsServlet</servlet-name>
  </filter-mapping>

  <listener>
    <listener-class>ru.job4j.listeners.ContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditAdvertisementServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.EditAdvertisementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyAdvertisementsServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.MyAdvertisementsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReadOnlyAdvertisementServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.ReadOnlyAdvertisementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrandServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.BrandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModelServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.ModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BodyTypeServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.BodyTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransmissionServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.TransmissionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductionYearServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.ProductionYearServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SortingTypeServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.SortingTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PeriodFilterServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.PeriodFilterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatusFilterServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.StatusFilterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvertisementServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.AdvertisementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.DownloadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.UploadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.DeletePhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvertisementDeleteServlet</servlet-name>
    <servlet-class>ru.job4j.servlet.AdvertisementDeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/auth/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/auth/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/auth/reg.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/auth/user.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAdvertisementServlet</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyAdvertisementsServlet</servlet-name>
    <url-pattern>/my.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReadOnlyAdvertisementServlet</servlet-name>
    <url-pattern>/readonly.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrandServlet</servlet-name>
    <url-pattern>/model/brand.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModelServlet</servlet-name>
    <url-pattern>/model/model.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BodyTypeServlet</servlet-name>
    <url-pattern>/model/bodyType.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransmissionServlet</servlet-name>
    <url-pattern>/model/transmission.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductionYearServlet</servlet-name>
    <url-pattern>/model/productionYear.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortingTypeServlet</servlet-name>
    <url-pattern>/model/sortingType.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PeriodFilterServlet</servlet-name>
    <url-pattern>/model/periodFilter.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusFilterServlet</servlet-name>
    <url-pattern>/model/statusFilter.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvertisementServlet</servlet-name>
    <url-pattern>/model/advertisement.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadPhotoServlet</servlet-name>
    <url-pattern>/model/advertisement/downloadPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPhotoServlet</servlet-name>
    <url-pattern>/model/advertisement/uploadPhoto.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePhotoServlet</servlet-name>
    <url-pattern>/model/advertisement/deletePhoto.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvertisementDeleteServlet</servlet-name>
    <url-pattern>/model/advertisement/delete.do</url-pattern>
  </servlet-mapping>

</web-app>
